<li>
  <span class="post_head">
    <span class="title"><%= micropost.title %></span><br />
    About the <%= micropost.post_type %> : <span class="publication_name"><%= micropost.publication_name %></span>
  </span>
  <span class="date">Date : <%= micropost.month %>/<%= micropost.year %></span>
  <span class="content"><%= micropost.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
  </span>
  <% if current_user?(micropost.user) %>
    <%= link_to "delete", micropost, method: :delete,
                                     data: { confirm: "You sure?" },
                                     title: micropost.content %>
  <% end %>
</li>
